<div class="fixed-action-btn horizontal click-to-toggle">
  <!-- t('ui.btn-new-f', record: Category.model_name.human) -->
  <%= link_to url, id: 'btn-color',
    class: 'waves-effect waves-light btn-floating btn-large' do %>
      <i class="material-icons ">add</i>
  <% end %>
</div>
