<%# search form %>
  <%= form_tag url_path ,remote: true, method: :get, id: 'search' do %>
    <div class="input-field col s5 l3" id="search-bar">
      <%= fa_icon 'search', class: 'prefix' %>
      <%= text_field_tag :query, '',  onkeyup: "submit_search()" %>
      <%= label_tag :query, t('ui.label.search') %>
    </div>
  <% end %> <%# end search form %>
