<%# search form %>
  <%= form_tag url_path ,remote: true, method: :get, id: 'search' do %>
    <div class="input-field col s5 l3" id="search-bar">
      <i class="material-icons prefix">search</i>
      <%= text_field_tag :query, params[:query],  onkeyup: "submit_search()",
        autocomplete: 'off' %>
      <%= label_tag :query, t('ui.label.search') %>
    </div>
  <% end %> <%# end search form %>
