// Changes on the navbar color
.nav-wrapper{
  background-color: $app-primary-color-darker;
  ul{
    a{
      &:hover{
        background-color: darken($app-primary-color-darker, 10);
      }
    }
  }
}

// Changes the buttons color scheme
.btn, .btn-large{
  background-color: $app-primary-color;

  &:hover{
    background-color: $app-primary-color-darker;
  }

  &:focus{
    background-color: $app-primary-color;
  }
}

//Fields color changes
/* label color */
 .input-field label {
  color: $field-color-secundary;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color: $field-color;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid $field-color;
   box-shadow: 0 1px 0 0 $field-color;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid $field-color;
   box-shadow: 0 1px 0 0 $field-color;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid $field-color;
   box-shadow: 0 1px 0 0 $field-color;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color: $field-color;
 }

 //Pagination color
 .pagination li.active{
    background-color: $asc-color;
 }

 //Date Picker
 .picker__weekday-display{
   background-color: $asc-color-darker;
   letter-spacing: 0.5px;
   font-size: 1.25rem;
 }
 .picker__date-display{
   background-color: $asc-color;
 }

.picker__nav--prev,  .picker__nav--next{
  transition: all ease-in-out 0.2s;
  &:hover{
    background-color: $asc-color-lighter;
  }
}

.picker__day.picker__day--today{
  color: $asc-color;
}

.picker__day--selected, .picker__day--selected:hover, .picker--focused .picker__day--selected{
  background-color: $asc-color;
}

.picker__close, .picker__today{
  color: $asc-color;
}
