#return-btn{
  position: relative;
  top: 3em;
}

#btn-color{
  background-color: $asc-color;
  &:hover{
    background-color: $asc-color-darker;
  }
}

#chosen-with-icons {
  width: calc(100% - 3rem);
  margin-left: 3rem;
}

#chosen-label-with-icon {
  left: 3.75rem;
}
