$background-color: #FAFAFA;
$app-primary-color: #9C27B0; /*500*/
$app-primary-color-darker: #6A1B9A; /*800*/
$app-primary-color-lighter: #BA68C8; /*300*/

$light-text-color-primary: rgba(255,255,255,1);
$light-text-color-secundary: rgba(255,255,255,0.7);
$light-text-color-disabled: rgba(255,255,255,0.5);
$light-divider-color: rgba(255,255,255,0.12);

$dark-text-color-primary: rgba(0,0,0,0.87);
$dark-text-color-secundary: rgba(0,0,0,0.54);
$dark-text-color-disabled: rgba(0,0,0,0.38);
$dark-divider-color: rgba(0,0,0,0.12);

$asc-color-lighter: #FF9E80;
$asc-color: #FF6E40;
$asc-color-darker: #DD2C00;

$field-color: $asc-color;
$field-color-secundary: $dark-text-color-secundary;
