<div class="row">
  <h1 class="col s11"><%= t '.title' %></h1>
  <div class="col s1">
    <%= link_back(batches_path) %>
  </div>
</div>

<%= render 'form', batch: @batch, products: @products %>

<script type="text/javascript">
  var no_result_msg = "<%= t 'ui.no_result_msg' %>"
</script>
