<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">
      <%= image_tag('pharmacy-tool.png') %>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to Product.model_name.human.pluralize, products_path %></li>
      <li><%= link_to Category.model_name.human.pluralize, categories_path %></li>
      <li><%= link_to Batch.model_name.human.pluralize, batches_path %></li>
    </ul>
  </div>
</nav>
