<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">
      <%= image_tag('pharmacy-tool.png') %>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Products', products_path %></li>
      <li><%= link_to 'Categories', categories_path %></li>
      <li><%= link_to 'Batches', batches_path %></li>
    </ul>
  </div>
</nav>
